@use "./reset";
@use "./flex";

@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");

html {
  font-family: "Protest Strike", sans-serif;
  background-color: $SECONDARY_BG_COLOR;
}

body {
  width: 70%;
  height: 90%;
  @extend %flex-column;
  gap: 50px;
  padding: 50px;
  margin: 0 auto;
  transform: translateY(30px);
  background-color: $BG_COLOR;
  border-radius: 20px;
}

header h1 {
  font-size: 4rem;
}

header p {
  color: $SECONDARY_TEXT_COLOR;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

main section {
  flex-basis: 50%;
  display: flex;
}

main section p {
  font-size: 2.5rem;
  @extend %flex-row;
  line-height: 2.8rem;
  align-items: flex-start;

  span {
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: $SECONDARY_TEXT_COLOR;
  }
}

main section img {
  height: 100px;
  width: 100px;
}

main aside {
  flex-basis: 50%;
  @extend %flex-column;
  justify-content: flex-end;

  p {
    font-size: 1.2rem;
  }

  span {
    color: $SECONDARY_TEXT_COLOR;
  }
}

.weather_info {
  margin-top: 50px;
  flex-grow: 1;
  @extend %flex-row;
  flex-wrap: wrap;
}

.weather_info div {
  width: fit-content;
  flex-grow: 1;
  @extend %flex-column;
  justify-content: space-around;

  h1 {
    text-align: center;
  }

  img {
    height: 100px;
    width: 100%;
    object-fit: contain;
  }

  p {
    @extend %flex-row;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
  }

  .pollen_info {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    display: block;

    span {
      font-size: 1rem;
    }
  }
}

footer {
  text-align: center;

  span {
    text-decoration: underline;
  }
}
