@use "./colors" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgcolor;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  height: 20px;
}

button {
  height: 20px;
  border: none;
  outline: none;
}
