<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--Adding Colors to Logs-->
        <withJansi>true</withJansi>
        <!--Allowing only INFO logs to the console-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>KDU - %highlight(%-5level) %cyan(%logger{15}) -%kvp %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-OUT" class="ch.qos.logback.core.FileAppender">
        <!--Allowing only ERROR logs to the logs/app.log files-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>logs/app.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="asish.kdu.spring_exercise_4.logging.LoggerLayout"/>
        </encoder>
    </appender>

    <springProfile name="dev ">
        <logger name="asish.kdu.spring_exercise_4" level="INFO" additivity="false">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE-OUT"/>
        </logger>
        >
    </springProfile>
    <springProfile name="prod">
        <logger name="asish.kdu.spring_exercise_4" level="ERROR" additivity="false">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE-OUT"/>
        </logger>
    </springProfile>

</configuration>