@font-face {
  font-family: Chirp, sans-serif;
  src: url(../assets/fonts/Chirp-Regular.woff2);
}

@font-face {
  font-family: Chirp, sans-serif;
  src: url(../assets/fonts/Chirp-Medium.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Chirp, sans-serif;
  src: url(../assets/fonts/Chirp-Heavy.woff2);
  font-weight: bolder;
}

@font-face {
  font-family: Chirp, sans-serif;
  src: url(../assets/fonts/Chirp-Bold.woff2);
  font-weight: 900;
}
