@use "../sass" as *;

.navbar {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
  align-items: flex-start;
  width: 23%;
  margin-left: 15%;

  &__post-button {
    background-color: $primary-color;
    width: 80%;
    height: 50px;
    border-radius: 30px;
    padding-inline: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__logo {
    height: 40px;
    width: 40px;
  }

  &__item {
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 15px;
    border-radius: 30px;

    img {
      height: 30px;
      width: 30px;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(128, 128, 128, 0.482);
    }
  }

  &__profile-info {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;

    img {
      width: 30px;
      height: 30px;
    }
  }

  &__profile-pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  &__profile-text {
    flex-grow: 1;

    p {
      color: $secondary-text-color;
    }
  }
}

.main {
  width: 40%;
  margin-left: 38%;
  margin-top: 10px;

  &__tweetbox {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 30px;
  }

  &__tweet-input {
    width: 100%;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
      order: -2;
      height: 40px;
      padding: 0;
    }

    input::placeholder {
      font-size: 1.2rem;
    }

    .uploaded-image {
      order: -1;
      height: 200px;
      width: 200px;
      border-radius: 10px;
    }
  }

  &__tweet-file {
    // display: none;
    height: 10px;
    width: 10px;
  }

  &__tweet-actions {
    display: flex;
    align-items: center;
    gap: 10px;

    label:hover {
      cursor: pointer;
    }

    img {
      height: 20px;
      width: 20px;
    }

    img:nth-child(7) {
      margin-right: auto;
    }
  }

  &__post-button {
    background-color: $primary-color;
    width: 80px;
    border-radius: 30px;
    padding-block: 10px;
    font-weight: bold;
  }
}

.post {
  margin-top: 30px;
  display: flex;
  gap: 10px;

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__user-info {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      height: 30px;
      width: 30px;
      margin-left: auto;
    }
  }

  &__user {
    font-size: 1.2rem;
  }

  &__username {
    color: $secondary-text-color;
  }

  &__time {
    color: $secondary-text-color;
  }

  &__image {
    border-radius: 10px;
    margin-top: 5px;
    width: 200px;
    height: 200px;
  }

  &__actions {
    margin-top: 10px;
    display: flex;
    gap: 40px;

    img {
      height: 25px;
      width: 25px;
    }

    img:nth-child(5) {
      margin-left: auto;
    }
  }
}

.fab {
  display: none;
}

@media (max-width: 400px) {
  .navbar {
    flex-direction: row;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 1;
    background-color: black;
    margin: 0;
    justify-content: space-around;

    &__item {
      p {
        display: none;
      }
    }

    &__logo {
      display: none;
    }

    &__post-button {
      display: none;
    }

    &__profile-info {
      display: none;
    }

    button:nth-child(2) {
      order: -5;
    }

    button:nth-child(3) {
      order: -4;
    }

    button:nth-child(4) {
      order: -2;
    }

    button:nth-child(6) {
      order: -3;
    }

    button:nth-child(7) {
      display: none;
    }

    button:nth-child(8) {
      display: none;
    }

    button:nth-child(9) {
      display: none;
    }

    button:nth-child(10) {
      display: none;
    }
  }

  .main {
    width: 100%;
    margin: 0;
  }

  .fab {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: $primary-color;
    border-radius: 50%;
    display: block;
    padding: 20px;

    img {
      height: 35px;
      width: 35px;
    }
  }
}
