* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  padding-inline: 10px;
  height: 30px;
  border-radius: 5px;
}

button {
  border-radius: 5px;
  background-color: transparent;
  height: 30px;
  border: none;
  outline: none;
  color: white;
}
