@mixin internal-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin: 5px;
  flex-direction: row-reverse;
  gap: 8px;
}
